@import 'custom_mixins';
@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Nunito:700|Poppins');





html, body {
    height: 100vh;
    width: 100vw;
}
html {
    overflow: hidden;
}
body {
    overflow-y: scroll;
    margin: 0 auto;
    background: linear-gradient(to right, #92FE9D, #00C9FF);

}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
#app-mounting-point {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.primary-text {
    color: white;
    font-family: 'Poppins';
    //overflow: hidden;
    text-align: center;
    font-size: 800%;
    font-weight: bolder;
    span, i {
        display: inline-block;
        opacity: 0;
        filter: blur(10px);
        transform: translate(0, -50%);
        animation: PrimaryTextFallIn .25s ease 0s 1 forwards;
    }
}
@keyframes PrimaryTextFallIn {
    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translate(0, 0);
    }
}
.fade-in {
    opacity: 0;
    filter: blur(10px);
    animation: FadeIn .5s ease 0s 1 forwards;
}
@keyframes FadeIn {

    100% {
        opacity: 1;
        filter: blur(0px);
    }

}




@import 'landing';